name: Maven Build

on:
  push

jobs:
  build:
    name: Maven Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [11, 17, 21]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: 'maven'
        
    - name: Build with Maven
      run: mvn -B package
